/*
** Generaux
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
}

hr {
    border: none;
    height: 10px;
    color: #fff;
    background-color: #fff;
}

nav {
    margin-left: auto;
}

footer {
    bottom: 0;
    position: absolute;
    right: 0;
    padding: 15px;
}

ul {
    padding-left: 50px
}

a,
a:link,
a:visited {
    text-decoration: none !important
}

input,
textarea {
    padding: 10px 20px;
    width: 100%;
    background-color: #e1e1e1;
    outline: none;
    border: 3px solid rgb(113, 113, 113);
}

.grandTitre {
    font-size: 6em
}

#titre {
    position: absolute;
    z-index: 0;
}

.racine {
    right: 0;
    margin: auto;
    padding: 1rem 1.5rem;
    position: absolute;
}

.section {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center
}

.accueil {
    background: url(ville-immeubles.jpg) center no-repeat #333;
    align-items: center;

}

.apropos {
    background-color: rgb(25, 25, 25);
    padding: 50px
}

.contact {
    background-color: rgb(25, 25, 25);
    padding: 50px
}

form {
    margin: auto;
    background-color: #e1e1e1;
    padding: 50px;
}

.navElt {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.5em;
}

.inline {
    display: inline-block;
    margin: 5px 15px;
    vertical-align: middle
}

.blanc {
    color: #fff !important
}

.container {
    width: 30%
}

.burgerButton {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.burgerIcon {
    display: none;
}

.logo {
    color: #333;
}

/* Burger button avec trois lignes de 4px dans div vide */
.burgerIcon div {
    width: 50px;
    height: 4px;
    background-color: #fff;
    margin: 10px;
}

@media (max-width: 768px) {
    .grandTitre {
        font-size: 4em
    }

    nav {
        top: 100px;
        padding: 20px;
        /* Pour cacher */
        right: -100%;
        height: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        background: #000;
        opacity: 0.75;
        z-index: 1;
        position: fixed;
    }

    nav.hide {
        right: 0;
    }

    nav ul {
        width: 100%;
    }

    .navbar .navElt {
        width: 100%;
        display: block;
        margin: 5px 0;
        text-align: center;
        color: #fff
    }

    .burgerIcon {
        display: inline-block;
    }
}

/* page a propos */
.button {
    background-color: #fff;
    padding: 10px 20px;
    align-self: flex-start;
    border-radius: 20px;
    color: #000
}

/* page contact */
.button2 {
    background-color: #e1e1e1;
    padding: 10px 20px;
    border: #000 1px solid;
    color: #000;
    width: auto;
    float: right;
}

.button:hover,
.button2:hover {
    cursor: pointer;
}

/* Espaces */
.blank {
    padding: 20px;
}

.blank-sm {
    padding: 10px;
}